*{
    padding: 0;
    margin: 0;
}

#navbar .container {
    height: 100px;
    display: flex;
}

#navbar .container  .primosf {
    background: lemonchiffon;
   flex: 1;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#navbar .container .titolo {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }
    
 
#navbar .container .titolo h1{
    padding-left:  160px;
    padding-top: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
  

}
#navbar .container .titolo h1 a{
    text-decoration: none;
    color: lightgreen;
}



#navbar .container .titolo h1 a:hover{
    color: lightblue;
}


#navbar .container .secsf {
    background: lightblue;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

#centro .container {
    display: flex;
    height: 500px;
}

#centro .container .image{
    flex: 1;
   background-image: url(../img/frida.jpg);
   height: 1000px;
   background-position: center;
   
   
}
#centro .container .testo {
 flex: 1;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}
#centro .container .testo  h1{
    font-size: 50px;
    padding-top: 200px;
    padding-left: 130px;
    font-family: 'Permanent Marker', cursive;
}

#centro .container .testo a {
    text-decoration: none;
}

#centro .container .testo a:hover{
    color: lightgray;
}

#centro .container .testo .lista {
    flex: 1;
    flex-direction: column;
    list-style: none;
    padding-top: 40px;
    padding-left: 130px;
}
#centro .container .testo .lista h2{
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    color: lightpink;
}
#centro .container .testo .lista h2:hover {
    color: lightseagreen;
}

#centro .container .testo .lista li{
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
    justify-content: center;
    color: darkslateblue;



}

#centro .container .testo .img {
  ;
}